In [1]:
import os
# Find the latest version of spark 3.x  from https://downloads.apache.org/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.5.3'
spark_version = 'spark-3.5.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Ign:3 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,370 kB]
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,593 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,159 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,318 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,596 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,447 kB]
Get:19 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [54.3 kB]
Fetched 18.8 MB in 8s (2,430 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [4]:
# 2. Create a temporary view of the DataFrame.

df.createOrReplaceTempView('home_sales')

In [5]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?

avg_price_four_bed = spark.sql("SELECT YEAR(date) AS Year, ROUND(AVG(price),2) AS Average_Price FROM home_sales WHERE bedrooms==4 group by YEAR(date) ORDER BY YEAR(date) asc" )
avg_price_four_bed.show()

+----+-------------+
|Year|Average_Price|
+----+-------------+
|2019|     300263.7|
|2020|    298353.78|
|2021|    301819.44|
|2022|    296363.88|
+----+-------------+

In [6]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
avg_price_built_year = spark.sql("SELECT date_built AS Year_Built, ROUND(AVG(price),2) AS Average_Price FROM home_sales WHERE bedrooms==3 and bathrooms==3 group by date_built order by date_built asc")
avg_price_built_year.show()

+----------+-------------+
|Year_Built|Average_Price|
+----------+-------------+
|      2010|    292859.62|
|      2011|    291117.47|
|      2012|    293683.19|
|      2013|    295962.27|
|      2014|    290852.27|
|      2015|     288770.3|
|      2016|    290555.07|
|      2017|    292676.79|
+----------+-------------+

In [7]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?

avg_price_built_year1 = spark.sql("SELECT date_built AS Year_Built, ROUND(AVG(price),2) AS Average_Price FROM home_sales WHERE bedrooms==3 and bathrooms==3 and floors==2 and sqft_living>=2000 group by date_built order by date_built asc")
avg_price_built_year1.show()

+----------+-------------+
|Year_Built|Average_Price|
+----------+-------------+
|      2010|    285010.22|
|      2011|    276553.81|
|      2012|    307539.97|
|      2013|    303676.79|
|      2014|    298264.72|
|      2015|    297609.97|
|      2016|     293965.1|
|      2017|    280317.58|
+----------+-------------+

In [8]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

avg_price_view = spark.sql("SELECT view AS Rating, ROUND(AVG(price),2) AS Average_Price FROM home_sales WHERE price>=350000 group by view order by view desc")
avg_price_view.show()

print("--- %s seconds ---" % (time.time() - start_time))

+------+-------------+
|Rating|Average_Price|
+------+-------------+
|    99|   1061201.42|
|    98|   1053739.33|
|    97|   1129040.15|
|    96|   1017815.92|
|    95|    1054325.6|
|    94|    1033536.2|
|    93|   1026006.06|
|    92|    970402.55|
|    91|   1137372.73|
|    90|   1062654.16|
|     9|    401393.34|
|    89|   1107839.15|
|    88|   1031719.35|
|    87|    1072285.2|
|    86|   1070444.25|
|    85|   1056336.74|
|    84|   1117233.13|
|    83|   1033965.93|
|    82|    1063498.0|
|    81|   1053472.79|
+------+-------------+
only showing top 20 rows

--- 1.0169997215270996 seconds ---

In [9]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [10]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [11]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

avg_price_view1 = spark.sql("SELECT view AS Rating, ROUND(AVG(price),2) AS Average_Price FROM home_sales WHERE price>=350000 group by view order by view desc")
avg_price_view1.show()

print("--- %s seconds ---" % (time.time() - start_time))

+------+-------------+
|Rating|Average_Price|
+------+-------------+
|    99|   1061201.42|
|    98|   1053739.33|
|    97|   1129040.15|
|    96|   1017815.92|
|    95|    1054325.6|
|    94|    1033536.2|
|    93|   1026006.06|
|    92|    970402.55|
|    91|   1137372.73|
|    90|   1062654.16|
|     9|    401393.34|
|    89|   1107839.15|
|    88|   1031719.35|
|    87|    1072285.2|
|    86|   1070444.25|
|    85|   1056336.74|
|    84|   1117233.13|
|    83|   1033965.93|
|    82|    1063498.0|
|    81|   1053472.79|
+------+-------------+
only showing top 20 rows

--- 0.912147045135498 seconds ---

In [12]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.parquet('home_sales', mode='overwrite')
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales")

In [13]:
# 11. Read the formatted parquet data.
p_df=spark.read.parquet('home_sales')

In [14]:
# 12. Create a temporary table for the parquet data.
p_df.createOrReplaceTempView('temp_home_sales')

In [15]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

avg_price_view2 = spark.sql("SELECT view AS Rating, ROUND(AVG(price),2) AS Average_Price FROM temp_home_sales WHERE price>=350000 group by view order by view desc")
avg_price_view2.show()

print("--- %s seconds ---" % (time.time() - start_time))

+------+-------------+
|Rating|Average_Price|
+------+-------------+
|    99|   1061201.42|
|    98|   1053739.33|
|    97|   1129040.15|
|    96|   1017815.92|
|    95|    1054325.6|
|    94|    1033536.2|
|    93|   1026006.06|
|    92|    970402.55|
|    91|   1137372.73|
|    90|   1062654.16|
|     9|    401393.34|
|    89|   1107839.15|
|    88|   1031719.35|
|    87|    1072285.2|
|    86|   1070444.25|
|    85|   1056336.74|
|    84|   1117233.13|
|    83|   1033965.93|
|    82|    1063498.0|
|    81|   1053472.79|
+------+-------------+
only showing top 20 rows

--- 1.0370490550994873 seconds ---

In [16]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [17]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached("home_sales")

False